nav{
    background: #f10404;
    color: white;
    text-decoration: none;
}
h1{
    color:rgb(60, 255, 0);
}
a{
    text-decoration: none;
}
footer{
    padding: 20px;
    font-size: 100%;
    background: #1abc9c;
    color: white;
}
